.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(103, 99, 99, 0.8);
  min-height: 100vh;
  min-width: 100vw;
  
}

.heading{
  color:aquamarine;
  margin-top: 100px;
}

.inputContainer {
  display: flex;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-left: 15px;
  
}

.searchInput {
  color: #0f172a;
  background-color: #f1f5f9;
  font-family: 'Open Sans';
  border: none;
  outline: none;
  font-weight: 500px;
  font-size: 14px;
}

.search-icon {
  height: 20px;
  width: 20px;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90vw;
  margin: 50px;

}

.image {
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
}

.popover-container{
  position: relative;
  display: inline-block;
}

.popover{
  position: absolute;
  top: 50px;
  transform: translateX(30%);
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 10px;
  border-radius: 4px;
  z-index: 1;
  min-width: 200px;
}

button {
  border: none;
  background-color: #f1f5f9;
}

button:hover {
  background-color: #f1f5f9;
}
